.l_main
  #comments
    position: relative
    #valine_container
      >i
        display: block
        margin: $gap auto
      img
        display: inline
      .vwrap
        // border-radius: $border-card
        // border-style: dashed
        // border: 1px dashed alpha($color-text, 30%)
        // trans()
        // &:hover
        //   border: 1px dashed $color-theme
        .cancel-reply
          margin-top: 0
          margin-bottom: 0
        .vemojis,.vpreview
          background: $color-block
          border-radius: $border-codeblock
          padding: $gap * 0.5
          scrollbar()
          .vemoji
            max-height: 22px
            max-width: none
          i
            width: auto
            padding: 8px
            border-radius: 4px
            transition: box-shadow .2s ease-out, background .2s ease-out
            if luminosity($color-block) > 0.5
              &:hover
                background: lighten($color-block, 2)
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.05), inset -8px -8px 16px rgba(255, 255, 255, 0.4)
              &:active
                background: darken($color-block, 2)
                box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), -0px -0px 0px rgba(255, 255, 255, 0.8), inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 1), inset -8px -8px 16px rgba(255, 255, 255, 0.4)
        .vedit
          .vctrl span
            padding: 0
            margin: 10px
          span
            fill: $color-p
            &.actived
              fill: $color-theme

      button
        border: none
        padding: 4px 2rem
        border-radius: $border-button
        background: darken($color-block, 2)
        color: $color-text
        line-height: 2
        font-size: 14px
        trans()
        &:hover
          color: #2196F3
          background: bgcolor(#2196F3)
        &.vmore
          width: 100%
          padding: 8px 2rem
      .vcards
        .vquote
          border-left: none
        // .vh
          // border-bottom: 1px dashed alpha($color-text, .1)
        .vimg
          border: 1px solid white
          padding: 0
          background: $color-codeblock
        .vcontent.expand
          &:before
            background: linear-gradient(180deg, alpha($color-card, .9), alpha($color-block, .9));
          &:after
            background: alpha($color-block, .9)
            color: $color-text
        .vhead
          span
            &.vnick
              color: $color-meta
              cursor: default
          a
            &.vnick
              color: $color-md-blue
              font-weight: bold
              &:hover
                color: $color-hover
          .vsys
            color: $color-md-blue-grey
            // margin: 2px
            // padding: 1px 8px
            // background-color: $color-block
        .vmeta
          .vat
            // font-weight: bold
            color: $color-text
            margin: 2px
            padding: 1px 12px
            border-radius: $border-button
            background-color: darken($color-block, 2)
            trans()
            &:hover
              color: #2196F3
              background-color: bgcolor(#2196F3)
              // text-decoration: underline
        .vcontent
          blockquote
            padding-top: $gap-row
            padding-bottom: $gap-row
            background: bgcolor($color-blockquote)
            border-left: $border-codeblock solid $color-blockquote
            border-radius: $border-codeblock
            trans()
          code
            color: $color-p
            font-family: $fontfamily-code
          pre
            background: $color-codeblock
            code
              border: none
          a
            color: $color-link
            line-height: inherit
            trans()
            &:hover
              color: $color-hover
              text-decoration: underline
          p
            color: $color-p
            margin-top: $gap-row
            margin-bottom: $gap-row
            line-height: inherit
          .vemoji
            max-height: 40px
            max-width: none
            border-radius: 0
            margin-top: 0px
      .vpower
        &,a
          font-size: $fontsize-footnote
        a
          color: $color-p
          &:hover
            text-decoration: underline
            color: $color-hover
      .vinput
        color: $color-text
      p
        color: $color-text
        
textarea#veditor
  resize: none !important
  height: auto !important
  background-image: url("https://image.bestzuo.cn/images/20200708160947.gif!getwebp")
  transition: all 0.25s ease-in-out 0s
  background-size: contain
  background-repeat: no-repeat
  background-position: right
  &:focus
    background-position-y: 150px
    transition: all 0.35s ease-in-out 0s
  &::-webkit-scrollbar
    height: 6px !important
    width: 6px !important
  &::-webkit-scrollbar-track-piece
    background: transparent !important
  &::-webkit-scrollbar-thumb
    border-radius: 5px;
    background-color: rgba(51,103,214,.3);
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);
    &:hover
      background-color: #3367d6
