.cloud {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 8;
    box-sizing: border-box;
    mix-blend-mode: overlay
}

.cloud .waves {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px
}

@media (max-width: 768px) {
    .cloud .waves {
        height:40px
    }
}

.cloud .parallax>use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite
}

.cloud .parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s
}

.cloud .parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s
}

.cloud .parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s
}

.cloud .parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s
}

@-moz-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}

@-webkit-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}

@-o-keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0)
    }

    100% {
        transform: translate3d(85px,0,0)
    }
}
