<script src="<%- theme.plugins.clipboard %>"></script>
<script src="https://cdn.jsdelivr.net/gh/Linhk1606/blog-cdn@0.0.6.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/Linhk1606/blog-cdn@0.0.6.0/js/hullabaloo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4/dist/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/gh/Linhk1606/blog-cdn@0.0.6.0/css/bootstrap.min.css" rel="stylesheet">
<script>
  function wait(callback, seconds) {
    var timelag = null;
    timelag = window.setTimeout(callback, seconds);
  }

  !function (e, t, a) {
    var initCopyCode = function () {
      var copyHtml = '';
      copyHtml += '<button class="btn-copy" data-clipboard-snippet="">';
      copyHtml += '<i class="far fa-copy"></i><span>COPY</span>';
      copyHtml += '</button>';
      $(".highlight .code pre").before(copyHtml);
      var clipboard = new ClipboardJS('.btn-copy', {
        target: function (trigger) {
          return trigger.nextElementSibling;
        }
      });
      clipboard.on('success', function (e) {
        $.hulla = new hullabaloo();
        wait(function() {
          $.hulla.send("复制成功！", "success");
        }, 2000);
      });
      clipboard.on('error', function (e) {
       e.clearSelection();
        $.hulla = new hullabaloo();
        wait(function() {
          $.hulla.send("复制失败！", "danger");
        }, 2000);
      });
    }
    initCopyCode();
  }(window, document);
</script>
