<script src="<%- theme.plugins.clipboard %>"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4/dist/jquery.min.js"></script>
<script>
  function wait(callback, seconds) {
    var timelag = null;
    timelag = window.setTimeout(callback, seconds);
  }

  !function (e, t, a) {
    var initCopyCode = function () {
      var copyHtml = '';
      copyHtml += '<button class="btn-copy" data-clipboard-snippet="">';
      copyHtml += '<i class="far fa-copy"></i><span>COPY</span>';
      copyHtml += '</button>';
      $(".highlight .code pre").before(copyHtml);
      var clipboard = new ClipboardJS('.btn-copy', {
        target: function (trigger) {
          return trigger.nextElementSibling;
        }
      });
      clipboard.on('success', function (e) {
        toastr.success("复制成功!");
      });
      clipboard.on('error', function (e) {
       toastr.error("复制失败!");
      });
    }
    initCopyCode();
  }(window, document);
</script>
